.CartItem {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
  
  .CartItem h3 {
    margin: 0;
  }
  
  .CartItem img {
    height: auto;
    width: 150px;
    object-fit: cover;
  }
  
  .CartItem p {
    margin: 0;
  }